{{! Chuyen tiep giua cac trang }}

<header>
  <nav>
    <a href="/">Home Page</a>
    <br />
    <a href="/about">About Page</a>
    <br />
    <a href="/help">Help Page</a></nav>

  <h1>{{title}}</h1>

</header>